<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 注册到服务中心 服务的名称-->
    <!-- dubbo调用有个端口20880(默认) / 20881-->
    <dubbo:application name="dongyimai-sellergoods-service"></dubbo:application>
    <!-- 网址 192.168.188 都一样 后面三位看自己 finalShell  端口都是2181-->
    <!-- 将dongyimai-sellergoods-service服务注册到注册中心 -->
    <dubbo:registry address="zookeeper://192.168.188.129:2181"></dubbo:registry>
    <!--spring通过接口可以直接找到实现类 提供服务包 -->
    <dubbo:annotation package="com.offcn.sellergoods.service"></dubbo:annotation>
</beans>