<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--读取配置信息 -->
    <context:property-placeholder location="classpath*:properties/*.properties"/>
    <context:component-scan base-package="com.offcn"/>
    <!--定义ActiveMQ的连接工厂 -->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.188.129:61616"/>
    </bean>
    <!--springjms管理连接工厂 -->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>
    <!--jms模板-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>
    <bean id="smsDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <!--接收消息的队列的名称 名字随意但是有意义-->
        <constructor-arg value="dongyimai_queue_sms"/>
    </bean>
    <!-- 消息监听容器-->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <!--连接工厂-->
        <property name="connectionFactory" ref="connectionFactory"/>
        <!--目的地-->
        <property name="destination" ref="smsDestination"/>
        <!--监听类-->
        <property name="messageListener" ref="smsMessageListenerImpl"/>
    </bean>
</beans>
